{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 m-5 text-center">
                <h1>Contactez nous</h1>
                <p>Si vous avez besoin de plus d'informations ou si vous avez un retour à nous faire,
                    vous pouvez nous contacter par mail ou par téléphone, à très vite !</p>
                <p>Coordonnées:<br />
                    contact[@]doctavis.com<br />
                    06.66.51.28.65</p>
            </div>
        </div>
    </div>

{% endblock %}
