<footer class="footer text-center">
        <div class="container">
                <p>
                        Copyright 2020 Doctavis <br />
                        Mentions Légales | Protection des données personnelles
                </p>
        </div>
</footer>