{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="shadowed-disc mb-4">
                <img src="{{ asset('img/logo-coeur.png') }}" alt="Logo doctavis" />
            </div>
            <div class="col-sm-6 text-center m-5">
                Consultez votre boite mail, une demande de confirmation<br />
                vient de vous être envoyée !
            </div>
        </div>
    </div>

{% endblock %}