{% if app.session.flashBag.has('success') %}
    <div class="row justify-content-center">
        <div class="form-group col-md-6">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endif %}

{% if app.session.flashBag.has('warning') %}
<div class="row justify-content-center">
    <div class="form-group col-md-6">
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% for message in app.flashes('error') %}
<div class="row justify-content-center">
    <div class="form-group col-md-6">
        <div class="alert alert-danger">
            {{ message }}
        </div>
    </div>
</div>
{% endfor %}
